body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: small;
	
	color: #003366;
	
	background: #eee url(images/background.gif) repeat-x top;
	
	margin: 0 auto;
	
	text-align: left;
}

body a {
	color: #999999;
	
	text-decoration: none;
}

body a:hover {
	color:#6699CC;
	
	text-decoration: underline;
}

img {

	float: left;
	
	padding-right: 10px;
	
	padding-bottom: 20px;
	
	padding-top: 10px;
}

/* PAGE LAYOUT */

#wrapper {

	margin: 0 auto;

	text-align: left; /* reset text alignment */

	width: 760px;
   
	background: #eee url(images/body_background.gif) repeat-y center;
}

#header {

	position: relative;
	
	background: #003366 url(images/header.gif) no-repeat top;
	
	width: 760px;
	
	height: 105px;
	
	overflow: hidden;
}

#content {

	position: relative;
	
	width: 740px;
	
	padding: 5px 10px 5px 10px;
	
	overflow: auto;
}

#footer {

	position: relative;
	
	background: #eee url(images/footer.gif) no-repeat center;
	
	height: 40px;
	
	width: 760px;
}

/* Navigation from Listapart */

#nav {
position: relative;
left: 200px;
margin-top: 29px;
width: 550px;
}

#navcontainer ul li
{
list-style-type: none;
padding: 0;
margin: 0;
display: block;
float: left;
text-align: center;
}

#navcontainer a
{
color: #003366;
text-decoration: none;
display: block;
width: 102px;
height: 22px;
background: url(images/navbg.gif) no-repeat;
padding-top: 4px;
}

#navcontainer a:hover { 
background: url(images/navbghover.gif) no-repeat;
}

/* Content divs */

#leftcontent {

	float: left;
	
	width: 200px;
	
	border-right: 1px solid #ccc;
	
	padding: 0px 10px 0px 5px;
}

#rightcontent {

	float: right;
	
	width: 500px;
	
	padding-right: 10px;
	
}

.maintext {

	color: #003366;
	
	font: normal small Arial, Helvetica, sans-serif;
	
	background: #eee;
	
	border: 1px solid #ccc;
	
	padding: 2px 5px 5px 5px;
}

#footer_right {

	float: right;

	width: 150px;
	
	padding: 12px 16px 0px 0px;
	
	font-size: x-small;
	
	text-align: right;
	display: none; /* Hiding as not really necessary anymore */
}

#footer_left {

	float: left;
	
	width: 600px;
	
	padding: 14px 0px 0px 16px;
	
	font-size: x-small;
	
	text-align: left;
}
/* Text Formatting */

h1 {

	color: #003366;
	
	font: normal small-caps lighter medium "Lucida Grande", verdana, sans-serif;
	
	text-indent: 10px;
}
h1.chambers {font-size:20px; }

h2 {
	
	color: #003366;
	
	font: normal small Arial, Helvetica, sans-serif;
	
	background: #eee;
	
	border: 1px solid #ccc;
}
h3 {

	color: #003366;
	
	background-color: #eee;
	
	font: normal small-caps lighter medium "Lucida Grande", verdana, sans-serif;
	
	text-indent: 10px;
	
	text-align: left;
	
	border-left: 2px solid #ccc;
}

.solicitors a, .solicitors a:visited, .solicitors a:active {
	color: #003366;
}